body{
background-color: black;
  background-size: cover; 
  font-family: Time new roman;
  color: Black;
  float:left;
}
ul{
  margin:0px;
    padding:0px;
  list-style: none;
}
ul li {
	float: right;
	width: 200px;
	height: 40px;
	background-color: White;
	opacity: .8;
	line-height: 50px;
	text-align: center;
	front-size: 30px
	}
	ul li a {
	font-weight: bold;
		text-decoration: none;
		color: Black;
		display: block;
	}
	ul li a:hover{
		background-color: Yellow;
	}
	ul li ul li {
		display: none;
	}
	ul li:hover ul li{
		display:block;
	}
	p{
		color: White;
	}
	h1{

  background-color:White;
  
  left: 0px;
  right: 0px;
  width: 220%;
  height:150px;
}
	
	slider{display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: hidden;
	position: absoluute;
	}
	
	slider > * {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%
		background: white;
		animtion: side 5s infinite;
		overflow: hidden;
		
	}
	img{
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

img:hover {
    transform: scale(1.2);
}
T1{
color: white;
}

	/* Need work /Slides not moving/ images fix/ timer fix
	
	slide:nth-child(1){
		left: 0%;
		animation-delay: 1;
		background-image: url(Football.jpg);
		background-sie: cover;
		background-position: center;
	}
	slide:nth-child(2){
		left: 0%;
		animation-delay: 3s;
		background-image: url(me.jpg);
		background-sie: cover;
		background-position: center;
	}
	
	slide:nth-child(3){
		left: 0%;
		animation-delay: 5s;
		background-image: url(Football.jpg);
		background-sie: cover;
		background-position: center;
	}
	
	slide:nth-child(4){
		left: 0%;
		animation-delay: 8s;
		background-image: url(Basketball.jpg);
		background-sie: cover;
		background-position: center;
	}
	
	slide p{
		font-size: 70px;
		text-align: center;
		display: inline-block;
		width: 100%;
		margin-top: 340px;
		color: white;
		
	}
	
	@keyframes slide{
		0% { left: 100%; width: 100%;}
		5% { left: 0%;}
		25% { left: 0%;} 
		30% { left: -100%; width: 100%;}
		30.0001% { left: -100%; width: 0%;}
		100% { left: 100%; width: 0%;}
	}'
	
	
	
